.fav-wrapper {
  padding: 30px 20px;
}

.fav-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.fav-item {
  background: white;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  background: red;
  padding: 5px 14px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.remove-btn:hover {
  background: darkred;
}
