/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-title {
  font-size: 30px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 18px;
  align-items: center;
}

/* Link styles */
.nav-link {
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.nav-link:hover {
  background: #f3f3f3;
}

.nav-link.active {
  background: #111;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    gap: 12px;
  }
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

